/config/secrets/prod/prod.decrypt.private.php

/docker/mysql
/docker/nginx/logs

/.env.local
/.env.local.php
/.env.*.local

/.git
/.idea

/public/bundles/

/.phpunit.result.cache
/phpunit.xml
/phpstan/
/phplint/
/public/assets/

/var/
/vendor/
